html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: $black;
  line-height: 1;
}

body {
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .45s ease;
  @include medium(18);
  
  svg {
    margin-right: rem-calc(10);
  }
}

p {
  @include regular(25);
  
  @media only screen and (max-width: rem-calc(900)) {
    @include regular(18);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section[padding] {
  padding: rem-calc(100 0);
  
  @media only screen and (max-width: rem-calc(900)) {
    padding: rem-calc(30 0);
  }
}

.ornamented-paragraph {
  position: relative;
  padding: rem-calc(0 0 0 40);
  
  @media only screen and (max-width: rem-calc(900)) {
    padding: rem-calc(0 0 0 20);
  }
  
  &::before {
    content: '';
    display: block;
    width: rem-calc(10);
    height: 100%;
    background-color: $primary;
    position: absolute;
    left: 0;
  }
}

.basic-title {
  @include bold(40);
  letter-spacing: rem-calc(4);
  text-transform: uppercase;
  color: $black;
  margin-bottom: rem-calc(20);
  
  @media only screen and (max-width: rem-calc(900)) {
    @include bold(22);
    letter-spacing: rem-calc(2);
  }
  
  &[spaced] {
    margin-top: rem-calc(30);
  }
}

.basic-subtitle {
  @include medium(25);
  letter-spacing: rem-calc(0);
  text-transform: uppercase;
  color: $black;
  
  @media only screen and (max-width: rem-calc(900)) {
    @include bold(18);
  }
}

.quote {
  @include medium(33);
  text-transform: uppercase;
  color: $black;
  margin: rem-calc(80 0 0 0);
  
  @media only screen and (max-width: rem-calc(900)) {
    @include medium(22);
    text-transform: uppercase;
    margin: rem-calc(40 0 0 0);
  }
  
  strong {
    @include bold(33);
    color: $primary;
    
    @media only screen and (max-width: rem-calc(900)) {
      @include bold(22);
    }
  }
}

.container {
  margin: 0 auto;
  padding-left: rem-calc(15);
  max-width: rem-calc(1200);
  padding-right: rem-calc(15);
  
  
  @media only screen and (max-width: rem-calc(900)) {
    max-width: 100%;
  }
}

// header
.main-header {
  background: $white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: rem-calc(15 0);
  transition: all .45s ease;
  z-index: 999;
  
  &.scrolled {
    padding: rem-calc(10 0);
    box-shadow: rem-calc(1 2 5 ) transparentize($black, .8);
    
    a {
      // transform: scale(.8);
    }
    
    a img {
      max-width: rem-calc(130);
      
      @media only screen and (max-width: rem-calc(900)) {
        max-width: rem-calc(100);
      }
    }
  }
  
  a img {
    width: 100%;
    transition: width .45s ease;
    
    @media only screen and (max-width: rem-calc(900)) {
      max-width: rem-calc(100);
    }
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// hero
#main-hero {
  background-image: url('./assets/images/home-hero.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  
  @media only screen and (max-width: rem-calc(900)) {
    min-height: 60vh;
    padding-top: rem-calc(70);
  }
  
  h1 {
    @include bold(95)
    color: $white;
    text-transform: uppercase;
    letter-spacing: rem-calc(12);
    margin: 0;
    
    @media only screen and (max-width: rem-calc(900)) {
      @include bold(45)
      letter-spacing: rem-calc(2);
    }
  }
  
  span {
    @include medium(30);
    color: $white;
    text-transform: uppercase;
    
    @media only screen and (max-width: rem-calc(900)) {
      @include medium(18)
    }
  }
}

// about
#about {
  background-image: url('./assets/images/about-hero.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  
  &-content {
    max-width: rem-calc(700);
    
    &:after {
      content: '';
      display: block;
      width: 15vw;
      height: 100%;
      background-color: $primary;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    
    h2 {
      @include bold(40);
      color: $white;
      text-transform: uppercase;
      margin: rem-calc(0 0 50 0);
      
      @media only screen and (max-width: rem-calc(900)) {
        @include bold(22);
      }
    }
    
    ul li p {
      color: $white;
    }
  }
}

.main-carousel {
  background-color: $primary;
  padding: rem-calc(100 20);
  max-width: rem-calc(460);
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  
  @media only screen and (max-width: rem-calc(900)) {
    display: none;
  }
  
  .carousel-cell {
    width: 100%;
    p {
      max-width: rem-calc(340);
      font-size: rem-calc(18);
      color: $white;
    }
    span {
      color: transparentize($white, .5);
      @include regular(18);
    }
  }
}

#marquee {
  background-color: $primary;
  padding: rem-calc(75 0);
  margin: rem-calc(50 0);
  
  @media only screen and (max-width: rem-calc(900)) {
    padding: rem-calc(35 0);
    margin: rem-calc(20 0);
  }
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 50px;
  overflow-x: hidden;
  padding: rem-calc(20 0);
  
  @media only screen and (max-width: rem-calc(900)) {
    height: 30px;
    padding: rem-calc(10 0);
  }
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 22s linear infinite;
}

.content {
  span {
    @include bold(40);
    color: $white;
    margin-right: rem-calc(80);
    
    @media only screen and (max-width: rem-calc(900)) {
      @include bold(20);
      margin-right: rem-calc(40);
    }
  }
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

//partners 

#partners {
  
  &-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: rem-calc(50 0);
    
    @media only screen and (max-width: rem-calc(900)) {
      grid-template-columns: 1fr;
      padding: rem-calc(10 0);
    }
    
    img {
      max-width: rem-calc(200);
      justify-self: center;
      
      @media only screen and (max-width: rem-calc(900)) {
        max-width: rem-calc(150);
      }
    }
  }
  
  .bottom-line,
  .top-line {
    position: relative;
    width: 100%;
    max-width: rem-calc(1200);
    border-bottom: 1px solid $black;
    
    &::after, &::before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: $black;
    }
    
    &::after {
      right: 0;
    }
  }
  
  .bottom-line {
    &::after, &::before {
      top: -40px;
    }
  }
}

// footer
.main-footer {
  background-color: $primary;
  padding: rem-calc(100 0);
  
  &--contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem-calc(200);
    align-items: center;
    
    @media only screen and (max-width: rem-calc(900)) {
      grid-template-columns: 1fr;
      gap: rem-calc(0);
    }
    
    h2 {
      @include bold(70);
      text-transform: uppercase;
      color: $white;
      
      @media only screen and (max-width: rem-calc(900)) {
        @include bold(60);
        margin-bottom: rem-calc(30);
      }
    }
    
    &__form {
      display: flex;
      flex-direction: column;
      
      @media only screen and (max-width: rem-calc(900)) {
        max-width: rem-calc(345);
        order: 2;
      }
      .wpcf7-not-valid-tip {
          display: none;
      }

      .wpcf7-response-output {
        @include regular(18);
        text-align: center;
        color: $black;
        border-color: transparent;
      }

      p {
        margin: 0;

        span .input {
          display: block;
          max-width: 94%;
          background-color: transparent;
          color: $white;
          border: 2px solid $white;
          padding: rem-calc(15 10);
          margin-bottom: rem-calc(30);
          @include regular(20);
          
          &::placeholder, &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
            color: $white;
          }
          
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  
  #copyright {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: rem-calc(130);
    
    @media only screen and (max-width: rem-calc(900)) {
      flex-direction: column;
      align-items: center;
      margin-top: rem-calc(60);
    }
    
    &-text {
      text-transform: uppercase;
      @include medium(16);
      
      @media only screen and (max-width: rem-calc(900)) {
        @include medium(12);
      }
    }
  }
}

.flickity-prev-next-button {
  top: 85%;
  z-index: 99;
  background-color: transparent;
  cursor: pointer;
}

.flickity-prev-next-button.previous {
  left: 80%;
}

