@font-face {
  font-family: 'Gotham Book';
  src: 
      url('./assets/fonts/GothamSSm-Book.eot'),
      url('./assets/fonts/GothamSSm-Book.woff2') format('woff2'),
      url('./assets/fonts/GothamSSm-Book.woff') format('woff'),
      url('./assets/fonts/GothamSSm-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: 
      url('./assets/fonts/GothamSSm-Bold.eot'),
      url('./assets/fonts/GothamSSm-Bold.woff2') format('woff2'),
      url('./assets/fonts/GothamSSm-Bold.woff') format('woff'),
      url('./assets/fonts/GothamSSm-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium';
  src: 
      url('./assets/fonts/GothamSSm-medium.eot'),
      url('./assets/fonts/GothamSSm-medium.woff2') format('woff2'),
      url('./assets/fonts/GothamSSm-medium.woff') format('woff'),
      url('./assets/fonts/GothamSSm-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}