@font-face {
  font-family: "Gotham Bold";
  src: url(../../assets/fonts/GothamBold.ttf), url(../../assets/fonts/Gotham-Bold.ttf) format('font-type');
}

@font-face {
  font-family: "Gotham Medium";
  src: url(../../assets/fonts/GothamMedium.ttf), url(../../assets/fonts/Gotham-Medium.woff) format('font-type');
}

@font-face {
  font-family: "Gotham Book";
  src: url(../../assets/fonts/GothamBook.ttf), url(../../assets/fonts/Gotham-Book.woff) format('font-type');
}
