.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  background-color: $primary;
  color: $black;
  padding: rem-calc(10 40);
  letter-spacing: rem-calc(2);
  border: 2px solid $black;
  @include bold(18);
  
  &.contact-number {
    @media only screen and (max-width: rem-calc(900)) {
      @include bold(14);
      padding: rem-calc(5 10);
      letter-spacing: rem-calc(0);
    }
  }


  
  svg {
    transform: scale(.7);
    margin-right: rem-calc(16);
    
    @media only screen and (max-width: rem-calc(900)) {
      margin-right: rem-calc(5);
    }
  }
  
  &:hover {
    animation: shadow-move 0.3s ease-in both;
  }
  
  &-secondary {
    background-color: $white;
    color: $black;
    
    &:hover {
      animation: shadow-move 0.3s ease-in both;
    }
  }
}

@-webkit-keyframes shadow-move {
  0% {
    box-shadow: 0 0 $black;
    transform: translate3d(0, 0, 0);
  }
  100% {
    box-shadow: 7px 7px $black;
    transform: translate3d(-7px, -7px, 0);
  }
}

